# SQL Server
MSSQL_SA_PASSWORD=CHANGE_ME_STRONG_PASSWORD
DB_SERVER=paumarket-sql
DB_NAME=PauMarketDb
DB_USER=sa

# Backend
ASPNETCORE_ENVIRONMENT=Development
JWT_KEY=CHANGE_ME_TO_A_LONG_RANDOM_SECRET_KEY
JWT_ISSUER=PauMarket.API
JWT_AUDIENCE=PauMarket.Client
JWT_EXPIRE_MINUTES=1440
ALLOWED_EMAIL_DOMAIN=@posta.pau.edu.tr
EMAIL_VERIFICATION_AUTO_VERIFY=false
EMAIL_VERIFICATION_CODE_LIFETIME_SECONDS=120
EMAIL_VERIFICATION_SEND_WITH_BACKUP_SENDER_ALSO=true
RECOMMENDER_API_URL=http://recommender:8000
RECOMMENDER_ADMIN_TOKEN=CHANGE_ME_RECOMMENDER_TRAIN_TOKEN
CORS_ALLOWED_ORIGIN_1=http://localhost:5173
CORS_ALLOWED_ORIGIN_2=http://127.0.0.1:5173
SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_ENABLE_SSL=true
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=PAÜ Market
SMTP_BACKUP_HOST=
SMTP_BACKUP_PORT=587
SMTP_BACKUP_USERNAME=
SMTP_BACKUP_PASSWORD=
SMTP_BACKUP_ENABLE_SSL=true
SMTP_BACKUP_FROM_EMAIL=
SMTP_BACKUP_FROM_NAME=PAÜ Market

# Cloudinary
CLOUDINARY_CLOUD_NAME=CHANGE_ME
CLOUDINARY_API_KEY=CHANGE_ME
CLOUDINARY_API_SECRET=CHANGE_ME

# Frontend
VITE_API_URL=http://localhost:5251/api
